<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @haunted_house.banner_url %>);">
  <div class="container">
    <h1><%= @haunted_house.name %></h1>
    <%= link_to "Add Monster", new_haunted_house_monster_path(@haunted_house), class: 'btn btn-danger mt-2' %>
  </div>
</div>
<%= cl_image_tag(@haunted_house.monsters.last.photo.key,
      width: 300, height: 300, crop: :thumb, gravity: :face) %>
<div class="container mt-3 mb-5">
  <div class="cards">
    <% @haunted_house.monsters.each do |monster| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= monster.photo.attached? ? cl_image_path(monster.photo.key) : monster.image_url %>)">
        <%= monster.name %>
        <%= link_to monster_path(monster), class: 'card-remove-link', method: :delete, data: { confirm: "Remove #{monster.name}?" } do %>
          <i class="fas fa-meteor"></i>
        <% end %>
        <%= link_to new_monster_curse_path(monster), class: 'card-link' do  %>
          <i class="fas fa-magic"></i>
        <% end %>
        <div class="card-tags">
          <% monster.powers.each do |power| %>
            <span><%= power.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
